extends layout
block content
    link(rel='stylesheet', href='/workpad/asset/style.css')
    a(href="/workpad") workpad test
    div#contentmain
        div#workpad.workpad
    script(src="workpad/dist/workpad-min-0.0.1.js")
    script(src="js/main.js")