
extends layout

block content
    div#contentmain
        div#workpad
    script(src="/workpad/src/workpad.js")
    script(src="/workpad/lib/base/base.js")
    script(src="/workpad/src/browser.js")
    script(src="/workpad/src/util/debug.js")
    script(src="/workpad/src/util/array.js")
    script(src="/workpad/src/util/string.js")
    script(src="/workpad/src/util/object.js")
    script(src="/workpad/src/util/events.js")
    script(src="/workpad/src/data/predata.js")
    script(src="/workpad/src/data/check.js")
    script(src="/workpad/src/data/pretty.js")
    script(src="/workpad/src/dom/class.js")
    script(src="/workpad/src/dom/attributes.js")
    script(src="/workpad/src/dom/styles.js")
    script(src="/workpad/src/dom/offset.js")
    script(src="/workpad/src/dom/insert.js")
    script(src="/workpad/src/dom/observe.js")
    script(src="/workpad/src/dom/delegate.js")
    script(src="/workpad/src/dom/get_parent_element.js")
    script(src="/workpad/src/dom/edit_area_range.js")
    script(src="/workpad/src/dom/edit_area.js")
    script(src="/workpad/src/commands.js")
    script(src="/workpad/src/commands/add_item.js")
    script(src="/workpad/src/commands/indent.js")
    script(src="/workpad/src/views/view.js")
    script(src="/workpad/src/views/composer.js")
    script(src="/workpad/src/views/composer.observe.js")
    script(src="/workpad/src/views/composer.dispatcher.js")
    script(src="/workpad/src/views/composer.commands.js")
    script(src="/workpad/src/views/commands/add_item.js")
    script(src="/workpad/src/views/wp.js")
    script(src="/workpad/src/views/wp.dom.js")
    script(src="/workpad/src/init.js")

    script(src="/js/main.js")

